* {
  box-sizing: border-box;
}

html, body {
  background-color: #eee;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li{
  font-size: 1.3rem;
}
input:focus{
  outline: none;
}
button:focus {
  outline: none;
}
.center {
  align-self: center;
}

.flow-right {
  display: flex;
  justify-content: space-around;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100vh;
}

.title, .controls, .button {
  flex: none;
}
.input{
  width: 100%;
  border-radius: 2rem;
  padding: 7px;
  margin: 2rem 0;
}
.button {
  padding: 10px 20px;
  text-decoration: none;
  padding: 10px 30px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 15px;
  border: 1px solid #0016b0;
}

.todo-list {
  flex: 1 1 0;
  margin-top: 20px;
  padding: 20px;
  overflow-y: auto;
}

.todo-delete {
  margin: 10px;
}

.todo-checkbox {
  margin: 10px;
}

.todo-container {
  padding: 20px;
  border-bottom: 1px solid #333;
}

.todo-container:first-of-type {
  border-top: 1px solid #333;
}

.list-homowork {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.list-homowork input[type="checkbox"]{
  width: 30px;
  height: 20px;
}
.list-homowork button{
  padding: 7px 2rem;
}